@page
@model IndexModel
@{
    ViewData["Title"] = "The Mini Index";
}

<div class="container">
    <div class="row">
        <div class="col-12" align="center">
            <h1>Welcome to The Mini Index!</h1>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12">
            <p class="lead" align="center">
                This is a <b>crowd-sourced</b> index of various minis, terrain tiles, and scatter terrain across
                different websites for use with tabletop games like Dungeons and Dragons.
                We have <b>@Model.MiniCount models</b> tagged with the important attributes of the mini in order to make it fast and easy to find exactly what you're looking for.
                There are an additional <b>@Model.UntaggedMiniCount models</b> that can be found by searching their name (or you can help tag a random one by clicking <a href="/Minis/Help">here!</a>)
                <br />
            </p>
        </div>
    </div>
        <hr/>
    <div class="row">
        <h2>Latest Minis</h2>
        <p style="font-size:small;">
            Everything you find here is thanks to someone who took the time to index and tag it. If you don't find what you're looking for,
            or just have some spare time, please try to improve the quality of The Mini Index by <a href="/Minis/Create/">submitting a mini</a> or improving tags.
        </p>
    </div>
    <div class="row">
        @foreach (var mini in Model.Mini)
        {
                <div class="col-md-3" style="margin-bottom:5px">
                    <div class="card">

                        @if (mini.Sources.Any())
                        {
                            @:<div class="thumb-wrapper @mini.Sources.First().Site.SiteName">
                            }
                            else
                            {
                                @:<div class="thumb-wrapper">
                                }
                        <a href="/Minis/Details?id=@mini.ID">
                            @if (mini.Thumbnail.Contains("miniindex.blob.core.windows.net/"))
                            {
                                <img class="card-img-top" src="@mini.Thumbnail.Replace("miniindex.blob.core.windows.net", "miniindexblobcdn.azureedge.net")" width="314" height="236" />
                            }
                            else
                            {
                                <img class="card-img-top" src="@mini.Thumbnail" width="314" height="236" />
                            }
                            <span></span>
                        </a>
                    </div>

                    <div class="card-body @mini.Status">
                        @Html.DisplayFor(modelItem => mini.Name)
                        <br />
                        <small class="text-muted">
                            <a href="/Creators/Details?id=@mini.Creator.ID">by @Html.DisplayFor(modelItem => mini.Creator.Name)</a>
                        </small>
                    </div>

                </div>
            @:</div>
        }
    </div>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <a href="/Minis/" class="btn btn-block btn-primary">Browse all...</a>
        </div>
        <div class="col-md-4">
            <a href="/Minis/Create" class="btn btn-block btn-success">Add new...</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-6">
            <hr />
            <p>
                We'd love to hear any feedback! We have a community on Reddit to post any problems, ideas, or suggestions - <a href="https://www.reddit.com/r/theminiindex/">/r/TheMiniIndex</a>.
            </p>
        </div>
    </div>
