@page
@using MiniIndex.Models;
@model MiniIndex.Pages.Minis.DetailsModel
@inject SignInManager<IdentityUser> SignInManager
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Details";
    @if (User.IsInRole("Administrator"))
    {
        ViewData["Submitter"] = @Model.Mini.User.Email;
    }else{
        if(@Model.Mini.User.Email == "admin@theminiindex.com"){
            ViewData["Submitter"] = "Auto-submitted";
        }else{
            ViewData["Submitter"] = "User";
        }
    }
}

@section Scripts
{
    <script type="module" src="~/js/modules/admin.js" defer></script>

    <environment include="Development">
        <script type="module" src="~/dist/stars.entry.js" defer></script>
    </environment>

    <environment exclude="Development">
        <script type="module" src="https://miniindex.azureedge.net/stars.entry.js" defer></script>
    </environment>
}

<div>
    @if (User.IsInRole("Moderator"))
    {
        <tmi-admin-card
            miniid="@Model.Mini.ID"
            submitter="@ViewData["Submitter"]"
            status="@Model.Mini.Status"
            cost="@Model.Mini.Cost"
            thumbnail="@Model.Mini.Thumbnail">
        </tmi-admin-card>
    }
</div>

<div class="container">
    <p id="miniid" style="display:none;">@Model.Mini.ID</p>

    <h2>
        @Html.DisplayFor(model => model.Mini.Name) by <a href="/Creators/Details?id=@Model.Mini.Creator.ID">@Html.DisplayFor(model => model.Mini.Creator.Name)</a>
    </h2>
    <a href="https://beta.theminiindex.com/minis/@Model.Mini.ID">Check out on The Mini Index Beta!</a>
    <hr />

    <div class="row">
        <div class="col-md-6" align="center">
            <div class="row">
                <div class="col-md-8">
                    @if (Model.Mini.Sources.Any())
                    {
                        @foreach (var miniSource in Model.Mini.Sources)
                        {
                            <a href="/Minis/Redirect?id=@Model.Mini.ID" class="btn btn-block btn-primary @miniSource.Site.SiteName" style="margin-top:10px;">View On @miniSource.Site.SiteName</a>
                        }
                    }
                    else if (!String.IsNullOrEmpty(Model.Mini.Link))
                    {
                        <a href="/Minis/Redirect?id=@Model.Mini.ID" class="btn btn-block btn-primary" style="margin-top:10px;">View at source</a>
                    }
                </div>

                <div class="col-md-4">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a href="#" class="btn btn-block @(Model.IsStarred ? "btn-danger remove-star" : "btn-success add-star")" id="toggle-star" style="margin-top:10px;">
                            <span class="oi oi-star"></span>
                        </a>
                    }
                    else
                    {
                        <a href="/Identity/Account/Login?ReturnUrl=@HttpContext.Request.Path@HttpContext.Request.QueryString" class="btn btn-block btn-success" style="margin-top:10px;" data-toggle="tooltip" data-placement="top" title="Create an account to save your favorites">
                            <span class="oi oi-star"></span>
                        </a>
                    }
                </div>
            </div>

            <hr />

            @if (Model.Mini.Thumbnail.Contains("miniindex.blob.core.windows.net/"))
            {
                <img class="img-fluid rounded" src="@Model.Mini.Thumbnail.Replace("miniindex.blob.core.windows.net", Configuration["CDNURL"]+".azureedge.net")" />
            }
            else
            {
                <img class="img-fluid rounded" src="@Model.Mini.Thumbnail" />
            }
        </div>

        <div class="col-md-6">
            <h3>Tags</h3>
            <small>
                Something look wrong? <a asp-page="./Edit" asp-route-id="@Model.Mini.ID">Tag this Mini</a>
            </small>
            <hr />
            @foreach (var MiniTag in Model.Mini.MiniTags.Where(mt => mt.Status == Status.Approved))
            {
                @if (string.IsNullOrEmpty(MiniTag.Tag.Category.ToString()))
                {
                    <span class="badge badge-primary" style="font-size:large">
                        <b>@MiniTag.Tag.TagName</b>
                    </span>
                }
                else
                {
                    <span class="badge badge-primary" style="font-size:large; margin:2px;">
                        @MiniTag.Tag.Category: <b>@MiniTag.Tag.TagName</b>
                    </span>
                }
            }
        </div>
    </div>
    @if (Model.RelatedMinis.Count > 1)
    {
        <hr />
        <h3>Related Minis</h3>
        <div class="row">
            @{
                int relatedCount = 0;
            }
            @foreach (var mini in Model.RelatedMinis)
            {
                @if (mini.ID == Model.Mini.ID)
                {
                    continue;
                }
                <div class="col-md-3" style="margin-bottom:5px">
                    <div class="card shadow">
                        <a href="/Minis/Details?id=@mini.ID">
                            @if (mini.Thumbnail.Contains("miniindex.blob.core.windows.net/"))
                            {
                                <img class="card-img-top" src="@mini.Thumbnail.Replace("miniindex.blob.core.windows.net", Configuration["CDNURL"] + ".azureedge.net")" width="314" height="236" />
                            }
                            else
                            {
                                <img class="card-img-top" src="@mini.Thumbnail" width="314" height="236" />
                            }
                            <span></span>
                        </a>

                        <div class="card-body">
                            @Html.DisplayFor(modelItem => mini.Name)
                            <br />
                            <small class="text-muted">
                                <a href="/Creators/Details?id=@mini.Creator.ID">by @Html.DisplayFor(modelItem => mini.Creator.Name)</a>
                            </small>
                        </div>
                    </div>
                </div>
                @if (relatedCount == 3)
                {
                    break;
                }
                else
                {
                    relatedCount++;
                }
            }
        </div>
    }

</div>