@page
@model MiniIndex.Pages.Tags.ManageModel
@{
    ViewData["Title"] = "Edit Tag";
}

@section Scripts
{
    <environment include="Development">
        <script type="module" src="~/js/admin.js" defer></script>
    </environment>

    <environment include="Staging">
        <script type="module" src="~/dist/admin.entry.js" defer></script>
    </environment>

    <environment include="Production">
        <script type="module" src="https://miniindex.azureedge.net/admin.entry.js" defer></script>
    </environment>
}

@if (User.IsInRole("Moderator"))
{
        <div class="bounded">
            <input id="miniid" type="hidden" value="@Model.Tag.ID"/>
            <div>
                <a asp-page="/Admin/TagManager">Back to all tags</a>
            </div>

            <h1>@Model.Tag.TagName (@Model.Tag.ID)</h1>
            <a href="/Minis/?Tags=@Model.Tag.TagName" class="btn btn-primary" target="_blank">View @Model.MiniCount Tagged</a>
            <a href="/Tags/Delete?id=@Model.Tag.ID" class="btn style-danger">Delete Tag</a>

            <h2>Rename Tag</h2>
            <div class="row">
                <input name="newName" id="newName" type="text" value="@Model.Tag.TagName" />
                <button id="updateNameBtn" class="btn btn-primary">Update</button>
            </div>
            
            <h2>Tag Category</h2>
            <select asp-for="@Model.Tag.Category" asp-items="Html.GetEnumSelectList<MiniIndex.Models.TagCategory>().OrderBy(m => m.Text)" class="change-category full-width">
                <option selected="selected" value="" class="full-width"></option>
            </select>

            <h2>Tag Pairs</h2>
            <table class="table" id="pairTable">
                @foreach (var item in Model.TagPairs)
                {
                    <tr id="@item.ID">
                        <td>
                            <a href="/Tags/Manage?id=@item.Tag1.ID">@Html.DisplayFor(modelItem => item.Tag1.TagName)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            <a href="/Tags/Manage?id=@item.Tag2.ID">@Html.DisplayFor(modelItem => item.Tag2.TagName)</a>
                        </td>
                        <td>
                            <a href="#" id="@item.ID" class="remove-pair btn style-danger btn-block">
                                Delete
                            </a>
                        </td>
                    </tr>
                }
                <tr>
                    <td>@Model.Tag.TagName</td>
                    <td>
                        <select id="new-pair-type" asp-items="Html.GetEnumSelectList<MiniIndex.Models.PairType>().OrderBy(m => m.Text)">
                            <option selected="selected" value=""></option>
                            <option value="99">Child</option>
                        </select>
                    </td>
                    <td>
                        <select id="new-pair-tag" asp-items="@Model.TagOptions">
                            <option selected="selected" value=""></option>
                        </select>
                    </td>
                    <td>
                        <a href="#" class="new-pair btn btn-block btn-primary">
                            Add
                        </a>
                    </td>
                </tr>
            </table>
        </div>
}
