@page
@model MiniIndex.Pages.Creators.BrowseModel

@{
    ViewData["Title"] = "Browse Creators";
}

<h1>All Creators</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Number of Minis
            </th>
            <th>
                Links
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var creator in Model.Creators)
        {
        <tr>
            <td>
                <a asp-page="./Details" asp-route-id="@creator.ID">@Html.DisplayFor(modelItem => creator.Name)</a>
            </td>
            <td>
                @Model.NumberMinis[creator.Name]
            </td>
            <td>
                @foreach (var site in creator.Sites)
                {
                    <a href="@site.CreatorPageUri" class="btn btn-primary">@site.DisplayName</a>
                }
            </td>
        </tr>
        }
    </tbody>
</table>
