@page
@model MiniIndex.Pages.Creators.BrowseModel

@{
    ViewData["Title"] = "Browse Creators";
}

<h1>All Creators</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Creator[0].Name)
            </th>
            <th>
                Number of Minis
            </th>
            <th>
                Links
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Creator)
        {
        <tr>
            <td>
                <a asp-page="./Details" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @Model.NumberMinis[item.Name]
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.ThingiverseURL))
                {
                    <a href="@item.ThingiverseURL" class="btn btn-primary">Thingiverse</a>
                }

                @if (!string.IsNullOrEmpty(item.PatreonURL))
                {
                    <a href="@item.PatreonURL" class="btn btn-primary">Patreon</a>
                }

                @if (!string.IsNullOrEmpty(item.WebsiteURL))
                {
                    if (item.WebsiteURL.Contains("gumroad"))
                    {
                        <a href="@item.WebsiteURL" class="btn btn-primary">Gumroad</a>
                    }
                    else
                    {
                        <a href="@item.WebsiteURL" class="btn btn-primary">Website</a>
                    }
                }
            </td>
        </tr>
        }
    </tbody>
</table>
