@page
@model MiniIndex.Pages.Creators.BrowseModel

@{
    ViewData["Title"] = "Browse Creators";
}

<h1>All Creators</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Number of Minis
            </th>
            <th>
                Links
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var creatorCount in Model.CreatorCounts)
        {
            <tr>
                <td>
                    <a asp-page="./Details" asp-route-id="@creatorCount.Key.ID">@Html.DisplayFor(modelItem => creatorCount.Key.Name)</a>
                </td>
                <td>
                    @creatorCount.Value
                </td>
                <td>
                    @foreach (var site in creatorCount.Key.Sites)
                    {
                        <a href="@site.CreatorPageUri" class="btn btn-primary">@site.DisplayName</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
