@page
@using MiniIndex.Models
@using Microsoft.Extensions.Configuration
@inject SignInManager<IdentityUser> SignInManager
@inject IConfiguration Configuration

@model MiniIndex.Pages.Creators.DetailsModel

@{
    ViewData["Title"] = Model.Creator.Name + " Details";
}

@section Scripts
{
    <environment include="Development">
        <link rel="stylesheet" href="~/css/mini.css">
    </environment>

    <environment include="Staging, Production">
        <link rel="stylesheet" href="~/dist/mini.css">
    </environment>
}

@if (User.IsInRole("Moderator"))
{
    <div class="cluster style-secondary" id="secondary-nav">
        <div class="row">
            <div class="montserrat">
                <span class="xsmall">MODERATOR</span>
                <br />
                <span class="larger">TOOLS</span>
            </div>
        </div>
        <div class="cluster">
            @foreach (var site in Model.Creator.Sites)
            {
                @if (site.DisplayName == "Thingiverse" || site.DisplayName == "Gumroad" || site.DisplayName == "MyMiniFactory")
                {
                    <div class="center"><a href="http://miniindexprofileparser.azurewebsites.net/api/ProfileParser?code=@Model.FunctionsCode&url=@site.CreatorPageUri" class="btn style-secondary" target="_blank">Scan @site.DisplayName</a></div>
                }
            }
        </div>
    </div>
}

<h1>@Html.DisplayFor(model => model.Creator.Name)</h1>

<div class="cluster">
    @foreach (var site in Model.Creator.Sites)
    {

    <a href="@site.CreatorPageUri" class="btn btn-primary @site.DisplayName">@site.DisplayName</a>
    }
</div>

<hr />

<div class="grid">
    @foreach (var mini in Model.AllCreatorsMinis)
    {
        @await Html.PartialAsync("_MiniPartial", mini)
    }
</div>
