@page
@using MiniIndex.Models
@using Microsoft.Extensions.Configuration
@inject SignInManager<IdentityUser> SignInManager
@inject IConfiguration Configuration

@model MiniIndex.Pages.Creators.DetailsModel

@{
    ViewData["Title"] = Model.Creator.Name + " Details";
}

@section Scripts
{
    <environment include="Development, Staging">
        <link rel="stylesheet" href="~/css/mini.css">
    </environment>

    <environment include="Production">
        <link rel="stylesheet" href="~/css/mini.css">
    </environment>
}

@if (User.IsInRole("Moderator"))
{
    <div class="bounded">
        <div class="card card-padded moderator">
            <h2><b>Moderator:</b> Scan Creator</h2>
            Please don't spam scan a bunch of creators, some APIs have rate-limiting and requesting a lot of scans within a few minutes of each other can break things.
            <hr/>
            <div class="switcher">
                @foreach (var site in Model.Creator.Sites)
                {
                    <a href="http://miniindexprofileparser.azurewebsites.net/api/ProfileParser?code=@Model.FunctionsCode&url=@site.CreatorPageUri" class="btn btn-primary">Scan @site.DisplayName</a>
                }
            </div>
        </div>
    </div>
}

<h1>@Html.DisplayFor(model => model.Creator.Name)</h1>

<div class="cluster">
    @foreach (var site in Model.Creator.Sites)
    {
        <a href="@site.CreatorPageUri" class="btn btn-primary @site.DisplayName">@site.DisplayName</a>
    }
</div>

<hr />

<div class="grid">
    @foreach (var mini in Model.AllCreatorsMinis)
    {
        @await Html.PartialAsync("_MiniPartial", mini)
    }
</div>
