@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - The Mini Index</title>

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="~/images/icons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/images/icons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/images/icons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/images/icons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="~/images/icons/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="~/images/icons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="~/images/icons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="~/images/icons/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="~/images/icons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="~/images/icons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="~/images/icons/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="~/images/icons/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="The Mini Index" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="~/images/icons/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="~/images/icons/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="~/images/icons/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="~/images/icons/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="~/images/icons/mstile-310x310.png" />

    <meta property="og:site_name" content="The Mini Index" />
    <meta property="og:image" content="https://theminiindex.com/images/icons/favicon-196x196.png">
    <meta property="og:title" content="@ViewData["Title"] - The Mini Index" />
    <meta property="og:description" content="The Mini Index is a crowd-sourced index of various minis, terrain tiles, and scatter terrain across different websites for use with tabletop games like Dungeons and Dragons." />
    <meta property="fb:app_id" content="217005809246433" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:image:src" content="https://theminiindex.com/images/icons/favicon-196x196.png">
    <meta name="twitter:description" content="The Mini Index is a crowd-sourced index of various minis, terrain tiles, and scatter terrain across different websites for use with tabletop games like Dungeons and Dragons." />
    <meta name="twitter:title" content="@ViewData["Title"] - The Mini Index" />

    <script type="module" src="~/dist/site.entry.js" defer></script>
    <script type="module" src="~/dist/bootstrapjs.entry.js" defer></script>
    <link rel="stylesheet" href="~/dist/site.css">

    <link href="~/lib/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">

    <script type="text/javascript">
        var appInsights = window.appInsights || function (a) {
            function b(a) { c[a] = function () { var b = arguments; c.queue.push(function () { c[a].apply(c, b) }) } } var c = { config: a }, d = document, e = window; setTimeout(function () { var b = d.createElement("script"); b.src = a.url || "https://az416426.vo.msecnd.net/scripts/a/ai.0.js", d.getElementsByTagName("script")[0].parentNode.appendChild(b) }); try { c.cookie = d.cookie } catch (a) { } c.queue = []; for (var f = ["Event", "Exception", "Metric", "PageView", "Trace", "Dependency"]; f.length;)b("track" + f.pop()); if (b("setAuthenticatedUserContext"), b("clearAuthenticatedUserContext"), b("startTrackEvent"), b("stopTrackEvent"), b("startTrackPage"), b("stopTrackPage"), b("flush"), !a.disableExceptionTracking) { f = "onerror", b("_" + f); var g = e[f]; e[f] = function (a, b, d, e, h) { var i = g && g(a, b, d, e, h); return !0 !== i && c["_" + f](a, b, d, e, h), i } } return c
        }({
            instrumentationKey: "70f322c0-7e67-4ac4-9b55-72cad669d574"
        });

        window.appInsights = appInsights, appInsights.queue && 0 === appInsights.queue.length && appInsights.trackPageView();
    </script>
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/">The Mini Index</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Minis">Browse Minis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Creators/Browse">Browse Creators</a>
                </li>
                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="nav-item">
                        <a class="nav-link" href="/Starred">Starred Minis</a>
                    </li>
                }
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Help improve TMI
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/Minis/Help">Tag Minis</a>
                        <a class="dropdown-item" href="/Minis/Create">Add a Mini</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="https://github.com/aluhrs13/TheMiniIndex" target="_blank"><span class="oi oi-code"></span> View our GitHub</a>
                        <a class="dropdown-item" href="https://discordapp.com/invite/FDtYRDP" target="_blank"><span class="oi oi-chat"></span> Join us on Disord</a>
                    </div>
                </li>
                @if (User.IsInRole("Moderator"))
                {
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/">Moderator Dashboard</a>
                    </li>
                }
            </ul>
            <partial name="_LoginPartial" />
        </div>
    </nav>

    <main role="main" class="container">
        <div style="padding: 3rem 1.5rem;">
            @RenderBody()
        </div>
    </main>

    <environment include="Development">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <script type="text/javascript" src="~/lib/selectizejs/js/standalone/selectize.js"></script>
        <link rel="stylesheet" type="text/css" href="~/lib/selectizejs/css/selectize.css" />

        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <script type="text/javascript" src="~/lib/selectizejs/js/standalone/selectize.js"></script>
        <link rel="stylesheet" type="text/css" href="~/lib/selectizejs/css/selectize.css" />

        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>