@using MiniIndex.Models
@using MiniIndex.Core.Pagination
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@model PaginatedList<Mini>

<div>
    <div>
        <div>
            @if (Model.Count() == 0)
            {
                <div>
                    <h1>No Minis found. Try adjusting your filters.</h1>
                    <hr />
                </div>

                <div>
                    <h2>Search by name</h2>
                    <p>This searches the name of the model that you see for an exact match of each word an prioritizes the most relevant.</p>

                    <h2>Filter by tags</h2>
                    <p>This filters down the list of Minis searched to include only ones with the given tags.</p>

                    <h2>Free Minis only</h2>
                    <p>This will exclude any Minis that cost money to download the STL.</p>
                </div>

                <div align="center">
                    <hr />
                    <h2>If you find a mini that matches on Thingiverse or elsewhere, come back and <a href="/Minis/Create">add it here</a> so that the next person can find it easier :)</h2>
                </div>
            }

            <div id="gallery">
                @foreach (var mini in Model)
                {
                    <!-- TODO: Thumbnail CDN logic -->
                    <!-- TODO: No source site logic -->
                    <!-- TODO: New tag logic -->
                    <!-- TODO: Pending and Rejected logic -->

                    <tmi-mini-card
                        miniid="@mini.ID"
                        name="@mini.Name"
                        thumbnail="@mini.Thumbnail"
                        status="@mini.Status"
                        creatorname="@mini.Creator.Name"
                        creatorid="@mini.Creator.ID"
                        sourcesite="@mini.Sources.First().Site.SiteName.ToLower()"
                    >
                    </tmi-mini-card>
                }
            </div>
        </div>
    </div>
</div>
