<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.MinisNavClass(ViewContext)" id="profile" asp-page="./Index">Pending Minis</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.TagsNavClass(ViewContext)" id="email" asp-page="./CategoryManager">Tag Categories</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.UsersNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Manage Users</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ThumbnailNavClass(ViewContext)" id="profile" asp-page="./ThumbnailCorrection">Thumbnail Correction</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages._404FinderNavClass(ViewContext)" id="profile" asp-page="./404Finder">Check for 404s</a></li>

</ul>
