<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.MinisNavClass(ViewContext)" id="minis" asp-page="./Index">Pending Minis</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.TagsNavClass(ViewContext)" id="email" asp-page="./CategoryManager">Tag Categories</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.UsersNavClass(ViewContext)" id="users" asp-page="./ManageUsers">Manage Users</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.CreatorsNavClass(ViewContext)" id="creators" asp-page="./ManageCreators">Manage Creators</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.TagStreamNavClass(ViewContext)" id="tagStream" asp-page="./TagStream">Tag Stream</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.TagPairsNavClass(ViewContext)" id="tagPairs" asp-page="./TagPairManager">Tag Pairs</a></li>
</ul>
