@page
@using MiniIndex.Models
@model MiniIndex.Pages.Admin.AdminModel
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Approve Minis";
    ViewData["ActivePage"] = ManageNavPages.Minis;
}

@if (User.IsInRole("Moderator"))
{
    <h4>Approve Minis</h4> 

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Mini[0].Thumbnail)
                </th>
                <th>
                    Source
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mini[0].Name)
                </th>
                <th>
                    Moderate
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mini[0].Status)
                </th>
                <th>
                    Tags
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Mini.Count > 0)
            {
                @foreach (var item in Model.Mini)
                {
                    <tr>
                        <td>
                            <img src="@Html.DisplayFor(modelItem => item.Thumbnail)" width="64" />
                        </td>
                        <td>
                            @item.Sources.First().Site.DisplayName
                        </td>
                        <td>
                            <a asp-page="/Minis/Edit" asp-route-id="@item.ID">
                                @item.Name
                            </a>
                        </td>
                        <td>
                            <a asp-page="/Minis/UpdateStatus" asp-route-MiniID="@item.ID" asp-route-NewStatus="Pending" asp-route-Redirect="Admin" class="btn btn-warning btn-block">
                                Visible
                            </a>
                            <a asp-page="/Minis/UpdateStatus" asp-route-MiniID="@item.ID" asp-route-NewStatus="Approved" asp-route-Redirect="Admin" class="btn btn-success btn-block">
                                Approve
                            </a>
                        </td>
                        <td>
                            @item.Status
                        </td>
                        <td>
                            @{
                                IList<TagCategory> usedCategories = new List<TagCategory>();
                            }

                            @foreach (var miniTag in item.MiniTags)
                            {
                                <span class="badge badge-primary">
                                    <a href="/Tags/Manage?id=@miniTag.Tag.ID">
                                        @miniTag.Tag.Category - @miniTag.Tag.TagName
                                    </a>
                                </span>

                                usedCategories.Add(miniTag.Tag.Category.GetValueOrDefault());
                            }

                            <span class="badge badge-@usedCategories.Contains(TagCategory.Genre)">
                                Genre
                            </span>
                            <span class="badge badge-@usedCategories.Contains(TagCategory.Use)">
                                Use
                            </span>

                            <hr />

                            @{
                                if (usedCategories.Contains(TagCategory.Race))
                                {
                                    <p>
                                        PC<br/>
                                        <span class="badge badge-@usedCategories.Contains(TagCategory.Race)">
                                            Race
                                        </span>
                                        <span class="badge badge-@usedCategories.Contains(TagCategory.Gender)">
                                            Gender
                                        </span>
                                        <span class="badge badge-@usedCategories.Contains(TagCategory.Class)">
                                            Class
                                        </span>
                                        <span class="badge badge-@usedCategories.Contains(TagCategory.Weapon)">
                                            Weapon
                                        </span>
                                        <span class="badge badge-@usedCategories.Contains(TagCategory.Armor)">
                                            Armor
                                        </span>
                                        <span class="badge badge-@usedCategories.Contains(TagCategory.Clothing)">
                                            Clothing
                                        </span>
                                    </p>
                                    <hr />
                                }

                                if (usedCategories.Contains(TagCategory.CreatureName))
                                {
                                    <p>
                                        Monster <br/>
                                        <span class="badge badge-@usedCategories.Contains(TagCategory.CreatureName)">
                                            CreatureName
                                        </span>
                                        <span class="badge badge-@usedCategories.Contains(TagCategory.CreatureType)">
                                            CreatureType
                                        </span>
                                        <span class="badge badge-@usedCategories.Contains(TagCategory.Location)">
                                            Location
                                        </span>
                                    </p>
                                    <hr />
                                }
                            }

                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5" align="center">
                        <h1 style="color:slategray">
                            All submissions have been moderated!
                        </h1>
                    </td>
                </tr>

            }

        </tbody>
    </table>
}