@page
@using MiniIndex.Models
@using Newtonsoft.Json
@model MiniIndex.Pages.Admin.AdminModel
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Pending Minis";
}

@if (User.IsInRole("Moderator"))
{
    @if (Model.Mini.Count > 0)
    {
        @foreach (var item in Model.Mini)
        {
            <tmi-admin-mini-row
                miniid="@item.ID"
                type="@item.Status"
                name="@item.Name"
                thumbnail="@item.Thumbnail"
                tagdata="@JsonConvert.SerializeObject(item.MiniTags.Select(mt=>mt.Tag.TagName))">
            </tmi-admin-mini-row>
            <hr/>
        }
    }
    else
    {
        <div class="center">
            <h2>
                All submissions have been moderated!
            </h2>
        </div>
    }
}