@page
@model MiniIndex.Pages.Admin.PendingTagsModel
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Pending Tags";
}

@if (User.IsInRole("Moderator"))
{
    <table>
        <thead>
            <tr>
                <th>

                </th>
                <th>
                    Pic
                </th>
                <th>
                    Tag
                </th>
                <th>
                    Mini Name
                </th>
                <th>
                    Tagger
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.UserTags)
            {

                <tr>
                    <td>
                      <tmi-do-something-button
                        text="Approve"
                        tmistyle="btn approve"
                        method="PATCH"
                        url="/api/MiniTags/"
                        data='{"miniID": @item.MiniID, "tagID": @item.TagID, "status": 1}'
                      ></tmi-do-something-button>
                      <tmi-do-something-button
                        text="Reject"
                        tmistyle="btn deny"
                        method="PATCH"
                        url="/api/MiniTags/"
                        data='{"miniID": @item.MiniID, "tagID": @item.TagID, "status": 2}'
                      ></tmi-do-something-button>
                    </td>
                    <td>
                        <img src="@Html.DisplayFor(modelItem => item.Mini.Thumbnail)" width="64" />
                    </td>
                    <td>
                        @item.Tag.TagName
                    </td>
                    <td>
                        <a asp-page="/Minis/Edit" asp-route-id="@item.Mini.ID">
                            @item.Mini.Name
                        </a>
                    </td>
                    <td>
                        @if (User.IsInRole("Administrator"))
                        {
                            @item.Tagger.UserName
                        }
                    </td>
                </tr>
            }
            </tbody>
    </table>
}