@page
@model MiniIndex.Pages.Admin.ThumbnailCorrectionModel
@{
    ViewData["Title"] = "Fix Thumbnails";
    ViewData["ActivePage"] = ManageNavPages.Thumbnail;
}

@if (User.IsInRole("Moderator"))
{
    <h4>Fix Broken Thumbnails</h4>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Mini[0].Thumbnail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mini[0].Name)
                </th>
                <th>
                    Moderate
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Mini.Count > 0)
            {
                @foreach (var item in Model.Mini)
                {
                    <tr>
                        <td>
                            <img src="@Html.DisplayFor(modelItem => item.Thumbnail)" width="64" />
                        </td>
                        <td>
                            <a asp-page="/Minis/Details" asp-route-id="@item.ID">
                                @item.Name
                            </a>
                        </td>
                        <td>
                            <a asp-page="/Minis/FixThumbnail" asp-route-id="@item.ID">
                                Fix Thumbnail
                            </a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5" align="center">
                        <h1 style="color:slategray">
                            All thumbnails look good!
                        </h1>
                    </td>
                </tr>

            }

        </tbody>
    </table>
}